/.vagrant/*
endpoints.txt
api_key.txt
linuxIntegration.txt
LPid.txt
WPid.txt
windowsIntegration.txt
Sysmon.zip
Git-2.39.2-64-bit.exe
elastic-agent-*.zip
linuxPolicyId.txt
windowsPolicyId.txt
windowsIntegrationDefender.txt
